<ion-card class="ion-text-center">
  <ion-card-header>
    <ion-card-title>{{ currentExercise.name }}</ion-card-title>
  </ion-card-header>
  <ion-card-content *ngIf="currentExercise.reps">

    Execute this
    <ion-text color="secondary">
      <h1>{{ currentExercise.reps }} </h1>
    </ion-text>
    times

  </ion-card-content>
</ion-card>

<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button (click)="exerciseCompleted.emit()">
    <ion-icon name="checkmark-circle-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>