<ion-header>
  <ion-toolbar>
    <ion-title>Train!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card-content>
    Execute the following exercises for {{ exerciseBag.reps }} times.
  </ion-card-content>


  <ion-card *ngFor="let exercise of exerciseBag.exercises">
    <ion-card-header>
      <ion-card-title>{{ exercise.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="exercise.reps">
      Execute this {{ exercise.reps }} times
    </ion-card-content>
    <ion-card-content *ngIf="exercise.time">
      Hold the position for {{ exercise.time }} seconds
    </ion-card-content>
  </ion-card>

  <div style="text-align: center;">
    <ion-button shape="round" horizontal="center" vertical="end" slot="fixed" (click)="onStart()">Start</ion-button>
  </div>

</ion-content>